@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

#cabecalho{
    display: flex;
}

#cabecalho img{

    max-width: 15px;
    max-height: 15px;
}

#icones_git_lupa img {
    max-width: 50px;
    max-height: 50px;

}


#icones_git_lupa{

    display: flex;
    gap: 40px;

}


header{
    display: flex;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    justify-content: space-around;
  /*justify-content: space-between;*/
    align-items: center;
    height: 100px;
}

header nav {
    display: flex;
    gap: 50px;


}


header nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    font-size: 20px;
    font-weight: 650;

}

header nav a:first-child{

    color: #ff7300;
}

header nav a:nth-child(2){

    color: #ffffff;
}

header nav a:nth-child(1):hover {

    color: #ff7300;
}


header nav a:nth-child(2):hover {

    color: #ff0000;
}

header nav a:nth-child(3):hover {

    color: #09ff00;
}

header nav a:nth-child(4):hover {

    color: #fd50a6;
}

header nav a:nth-child(5):hover {

    color: rgb(141, 58, 236);
}

header nav a:nth-child(6):hover {

    color: rgb(28, 67, 241);
}

h2{
    font-size: 30px;

}

h3,h4{
    font-size: 20px;

}

main{
    display: flex;
    /*justify-content: space-around;*/
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;

}

#noticia_principal h2{

    font-size: 45px;
    line-height: 50px;
    font-weight: 650;
}

#noticia_principal ul{

    padding-left: 10px;
    margin: 10px 0;
}

#noticia_principal ul li{

    font-size: 20px;
    font-weight: 350;
    padding-bottom: 10px;


}

#noticia_principal ul li::marker{
    color: #09FF00;

}

#terceira_secao_vermelho ul li::marker{

    color: rgb(123, 2, 2);
}

#quarta_secao_laranja ul li::marker{

    color: rgb(255, 68, 0);
}


main section:first-child{

    width: 60%;
    padding-right: 40px;
    border-right: 1px solid rgba(0, 0, 0, 0.205);

}

main section:nth-child(2){

    width: 20%;
    padding: 0 30px; /*0 px : top and bottom, 30px: left and right*/
    border-right: 1px solid rgba(0, 0, 0, 0.205);


}

main section:nth-child(2) article{

    width: 100%;

}


main section:nth-child(3){

    width: 20%;
    padding: 0 30px;
}

main section:nth-child(3) article{
    width: 100%;

}


#primeira_secao_verde{

    border-top:1px solid rgba(0, 0, 0, 0.205);
    display: flex;
    padding: 0 10px;
    /* margin-bottom: 10px;   */
    justify-content: space-between;


}

#primeira_secao_verde img{
    
   width:100%;
   border-radius: 20px;
   margin-bottom: 10px;


}
#primeira_secao_verde article{ 

    padding: 20px 0px;  
    width:30%
}

#primeira_secao_verde ul{

    padding-top: 15px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 500;

    
}

#primeira_secao_verde ul li::marker{

    color: #09FF00;
}

.cor-verde{
      
    color: rgb(38, 255, 0);

}


#segunda_secao_azul{

    display: flex;
    padding: 0 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}

#segunda_secao_azul img{
    
   width:100%;
   border-radius: 20px;
    margin-bottom: 10px;


}
#segunda_secao_azul article{ 

    width:30%
}

#segunda_secao_azul ul{

    padding-top: 15px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 500;

    
}


#segunda_secao_azul ul li::marker{

    color: rgb(56, 56, 248);

}


.cor-azul{

    color: rgb(56, 56, 248);
}

#terceira_secao_vermelho img{

    width: 100%;
    border-radius: 20px;
       margin-bottom: 10px;

}


#terceira_secao_vermelho ul{

    padding: 15px 0px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 500;

}


.cor-vermelho{

    color: rgb(123, 2, 2);
}

#quarta_secao_laranja img{
    
    width: 100%;
    border-radius: 20px;
       margin-bottom: 10px;

}

#quarta_secao_laranja ul{

    padding: 15px 0px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 500;

}


.cor-laranja{

    color: rgb(255, 68, 0);
}

#botao-saiba-mais {
  background-color: #FF5100;
  color: white;
  border: none;
  padding: 6px 40px;/*6 px = top and bottom, 40px = left and right*/
  border-radius: 10px;
  margin: 20px 0px;
}


footer{
    display: flex;
    color: white;
    background-color: black;
    height: 100%;
    justify-content: center; /*centraliza os itens horizontalmente*/
    align-items: center; /*centraliza os itens verticalmente*/
    flex-direction: column;
    padding: 30px 0px;
  
}

footer img{

    padding:10px 0px;
}

footer p{


    font-size: 40px;
}

@media(max-width: 1100px){

    footer  {
    padding: 20px;
    text-align: center;
    }

    main{
        flex-direction: column;
    }

    main section{

        width: 100% !important;
        padding: 0 10px !important;
        border: none !important;
        text-align: center;
        /* list-style: none !important; */
    }

        main section ul li{

        font-size: 16px !important;
        list-style: none; 

    }

    article img{
    
         height: 300px; 
        object-fit: cover;


    }

        header{
        flex-direction: column;
        padding: 20px;
        gap: 15px;
        height: 100%;

    }

    header nav{

        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;


    }

     #primeira_secao_verde{

        border: none !important;
        margin-bottom: 20px;
        gap: 25px;
    } 


    #primeira_secao_verde article{

        padding: 0px;
        
    }
    
    
    #segunda_secao_azul{

        gap: 25px;
        margin-bottom: 20px;
    }

    #terceira_secao_vermelho{

        /* display: flex;
        flex-direction: column;
        gap: 50px; */
        margin-bottom: 20px;
    }


}

 @media(max-width: 980px){

    #primeira_secao_verde,#segunda_secao_azul{

        flex-direction: column;

    }

    main article{

        width: 95% !important;

    }

    main {

        padding-left: 20px;
        padding-right: 20px;
    }

} 


    footer p {

        font-weight: 700;

        animation: rainbow 3.5s infinite;
    }

    #cabecalho h1{

        animation: rainbow 3.5s infinite;
    }

    @keyframes rainbow {
        0%   {color: rgb(255, 0, 0);}
        10%  {color: rgb(251, 255, 0);}
        20%  {color: rgb(0, 4, 255);}
        30%  {color: rgb(4, 170, 68);}
        40% {color: rgb(238, 63, 159);}
        50%   {color: rgb(30, 255, 0);}
        60%  {color: rgb(0, 0, 0);}
        70%  {color: white;}
        80%  {color: rgb(151, 62, 3);}
        90% {color: rgb(119, 116, 116);}
        100% {color: rgb(151, 0, 252);}


    }
