*{
    padding: 0;
    margin: 0;



}

header{

    background-color: black;
    color: white;
}

header nav a {

    color: white;
}

.cor-verde{
      
    color: rgb(38, 255, 0);


}

.cor-azul{

    color: rgb(56, 56, 248);
}

.cor-vermelho{

    color: rgb(123, 2, 2);
}

.cor-laranja{

    color: rgb(255, 68, 0);
}

#botao-saiba-mais {
  background-color: #FF5100;
  color: white;
  border: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}


footer{
    color: white;
    background-color: black;
}