@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
     font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

#cabeçalho{
    display: flex;
}

#cabeçalho img{

    max-width: 15px;
    max-height: 15px;
}

#icones_git_lupa img {
    max-width: 40px;
    max-height: 40px;

}


#icones_git_lupa{

    display: flex;
    gap: 40px;

}


header{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-around;
  /*justify-content: space-between;*/
    align-items: center;
    height: 100px;
}

header nav {
    display: flex;
    gap: 70px;

}


header nav a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

header nav a:first-child{

    color: #09FF00;
}

header nav a:nth-child(2){

    color: #60d4f7;
}

header nav a:hover{

    color: #09FF00;
}

header nav a:nth-child(4):hover {

    color: #fa74b7;
}

header nav a:nth-child(5):hover {

    color: rgb(182, 128, 245);
}

h2{
    font-size: 40px;

}

h3,h4{
    font-size: 30px;

}


.cor-verde{
      
    color: rgb(38, 255, 0);


}

.cor-azul{

    color: rgb(56, 56, 248);
}

.cor-vermelho{

    color: rgb(123, 2, 2);
}

.cor-laranja{

    color: rgb(255, 68, 0);
}

#botao-saiba-mais {
  background-color: #FF5100;
  color: white;
  border: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}


footer{
    color: white;
    background-color: black;
}